.grid-stack-item-content{
	background-color: #afaaaf
}


html,
body {
  height: 100%;
  overflow-x: hidden;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.allow-for-footer {
  margin-bottom: 410px;
}

/* Set the fixed height of the footer here */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
}

/* Set the fixed height of the footer here */
#footer-content {
  background-color: #555155;
  min-height: 355px;
}

/* Set the fixed height of the footer here */
#footer-header {
  background-color: #2e2e2e;
  border-bottom: 1px solid #222222;
}